---
layout: page
title: Contact
permalink: /contact/
tags: contact
---

You can contact me on <b>{{ site.email }}</b>
<br>
{% if site.linkedin_username %} <a href="https://linkedin.com/in/{{site.linkedin_username}}/">LinkedIn | </a> {% endif %} 
{% if site.github_username %} <a href="https://github.com/{{site.github_username}}/">GitHub | </a> {% endif %}
{% if site.stackoverflow_id %} <a href="https://stackoverflow.com/users/{{site.stackoverflow_id}}/">Stackoverflow | </a> {% endif %} 
{% if site.twitter_username %} <a href="https://twitter.com/{{site.twitter_username}}/">Twitter</a> {% endif %} 

