{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "projects" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "teaching" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "blog" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "papers" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "resume" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "fun" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}

{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
