.left {
  float: left;
}

.right {
  float: right;
}

.homecenter{
    position:absolute;
    display:block;
    //height:200px;
    //width:200px;
    left:50%;
    top:40%;
    margin-top:-100px;
    margin-left:-100px;
    //border: 1px solid red;
}

