---
layout: page
title: Reading List
permalink: /papers/
description: Sumit Gupta's reading list.
tags: papers
---

<div id="papers" style="line-height:100%">
	<span style="font-size:15px;">This (incomplete, almost ordered) list contains the stuff I am reading these days as a part of various activities (IU Computer Vision Lab reading group, computer vision course, masters thesis, internship, various projects, and self-interest).</span> <br><br>
	
	<table style="border-collapse: collapse; font-size:13px;">
		{% for paper in site.data.papers %}
			<tr>
				<td style="width: 10%; border: none; border-bottom: 1px solid #f1f1f1; padding-bottom: 20px;  padding-top:20px;">{% if paper.date %} {{paper.date}} {% endif %}</td>
				<td style="border: none; border-bottom: 1px solid #f1f1f1; padding-bottom: 20px; padding-top:20px; line-height: 150%;">{{paper.paper}}</td>
				<td style="border: none; border-bottom: 1px solid #f1f1f1; padding-bottom: 20px; padding-top:20px;">{% if paper.link %}[<a href="{{ paper.link }}"">pdf</a>] {% endif %}</td>				
			</tr>
		{% endfor %}
	</table>	
</div>

